body {
    color: #93c8e8;
    
}
#scoreBox {
    text-align: center;
}

.scoreName {
    line-height: 5vh;
    /* margin: .5rem 0rem 0rem 0rem; */
    /* color: #93c8e8; */
}

strong {
    font-size: 2.2rem;
}