#contained-modal-title-vcenter img {
    width: 100%;
    height: 125px;
}

.bigStyle {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #4219b0;
    text-shadow: grey 2px 2px 5px;
}

.modalImg {
    width: 100% !important;
}

#Wrong {
    color: #e74c3c;
}

#Right {
    color: #4cd137;
}