/* .list-overflow-container {
  max-height: 80vh;
  border: 1px #DDDDDD solid;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: scroll;
} */

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #2A878C;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}

.list-group-item {
  border-radius: 0;
  /* box-shadow: 3px 3px 20px lightslategrey; */
  margin: 10px 0px 0px 0px;
}
h3 {
  color: #4219b0 !important;
}
p {
  font-size: 1.25rem;
  color: #4219b0;
}

.wrapper {
  padding-top: 10px;
    /* background: blue; */
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    padding: 0px;
    /* padding-top: 50px; */
    justify-content: space-around;
    align-content: flex-start;
    overflow: scroll;
}

.card {
  size: 150px;
  background-color: #93c8e8;
}