#intro h2 {
    font-size: 45px;
    font-weight: bold;
    text-shadow: grey 2px 2px 5px;
    color: #007BFF;
    text-align: center;
}

#contained-modal-title-vcenter h1 {
    padding: 2px 50px 5px 50px;
    margin-left: 10px;


}