.delete-btn {
  float: right;
  transition: all .2s ease-in-out;
}

.delete-btn:hover {
  cursor: pointer;
  color: #df0700;
  transform: scale(1.10);
}

.delete-btn:active {
  /* color: #a30601; */
}
