.guessWindow {
    color: #4219b0;
    background-color: #93c8e8;
    text-align: center;
    font-size: 2.3rem;
    /* box-shadow: 1vw .25vh .5vh black; */
    
    border-color: #4219b0;
    border-width: .25rem;
    border-style: inset;
    width: 25vw;

}

.guessContainer {
  text-align: center;
}

@media only screen and (max-width: 900px) {
    .guessWindow {
      width: 225px;
    }
    
  }